/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

:root {
   --color-bg: #EBECF2;
   --color-surface: #FFFFFF;
   --color-border: #9A9EB2;
   --color-text-primary: #000;
   --color-text-secondary: #3F435D;
   --color-tooltip-bg: #2A2E33;
   --color-tooltip-text: #fff;
   --shadow-border: rgba(0, 0, 0, 0.1);
   --user-bg-color: #FAFAFC;
}

body {
   display: flex;
   width: 100%;
   height: 100vh;
   background-color: var(--color-bg);
}

.brand img {
   width: 2rem;
}

// Header
.header {
   width: 100%;
}

// Sidebar

.sidebar {
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 15rem;
   height: 100%;
   padding: 1.4rem 1rem 0 1rem;
   background-color: var(--color-surface);
   box-shadow: 1px 0 10px var(--shadow-border);
   transition: width 0.5s ease;
}

.sidebar.minimize {
   width: 4.94rem;
}

.menu-btn {
   position: absolute;
   top: 3.5%;
   right: -0.87rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1.75rem;
   height: 1.75rem;
   border-radius: 50%;
   background-color: #fff;
   color: #757575;
   box-shadow: 2px 2px 5px var(--shadow-border);
   cursor: pointer;
   transition: right 0.3s ease;
}

.menu-btn i {
   font-size: 1.5rem;
}

// Cuando esta minimizado el menu separar el menu-btn
.sidebar.minimize .menu-btn {
   right: -2rem;
}

.sidebar.minimize .menu-btn i {
   transform: rotate(180deg);
}

.brand {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 0.7rem;
   padding-left: 0.455rem;
   margin-bottom: 1.8rem;
   overflow: hidden;
}

.brand img {
   width: 2rem;
}

.brand span {
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--color-text-primary);
}

// Menu container
.menu-container {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   align-items: center;
}

// Search
.search {
   display: flex;
   width: 100%;
   padding: 0.55rem 0;
   margin-bottom: 1.2rem;
   border-radius: 0.3rem;
   box-shadow: 0 0 0 1px var(--shadow-border);
   cursor: pointer;
   transition: box-shadow 0.5s ease;
}

.search:hover {
   box-shadow: 0 0 0 1px var(--color-text-primary);
}

.sidebar.minimize .search {
   box-shadow: none;
}

.sidebar.minimize .search:hover {
   background: var(--color-bg);
}

.search i {
   font-size: 1.35rem;
   color: var(--color-text-secondary);
   padding: 0 0.8rem;
}

.search:hover i {
   color: var(--color-text-primary)
}

.search input {
   width: 70%;
   border: none;
   outline: none;
   background-color: transparent;
   color: var(--color-text-primary);
}

// Menu
.menu {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.menu .menu-item {
   position: relative;
   list-style: none;
   overflow: hidden;
}

.menu .menu-link {
   display: flex;
   padding: 0.55rem 0;
   color: var(--color-text-secondary);
   text-decoration: none;
   border-radius: 0.3rem;
}

.menu-item:hover .menu-link,
.sub-menu .sub-menu-link:hover,
.menu-item.active .menu-link {
   color: var(--color-text-primary);
   background: var(--color-bg);
}

.menu-link i {
   font-size: 1.35rem;
   padding: 0 0.8rem;
}

.menu-link i:last-child {
   margin-left: auto;
   transition: transform 0.3s ease;
}

.sidebar.minimize .menu-link i:last-child {
   display: none;
}

.menu-item.sub-menu-toggle .menu-link i:last-child {
   transform: rotate(180deg);
}

.menu-link span {
   font-size: 0.8rem;
   font-weight: 500;
}

// sidebar minizado
.sidebar.minimize .menu-item:hover,
.sidebar.minimize .menu-item.sub-menu-toggle {
   overflow: visible;
}

.sidebar.minimize .menu-item:hover span,
.sidebar.minimize .menu-item.sub-menu-toggle span {
   position: absolute;
   left: 4.2rem;
   padding: 0.5rem;
   background: var(--color-tooltip-bg);
   border-radius: 0.4rem;
   color: var(--color-tooltip-text);
   transition: all 0.3s ease;
}

// Submenu
.sub-menu {
   height: 0;
   transition: all 0.3s ease;
   overflow: hidden;
   left: 0;
}

// sidebar minizado
.sidebar.minimize .sub-menu {
   position: absolute;
   left: 4.2rem;
   top: 3.1rem;
   background: var(--color-surface);
   border-radius: 0.2rem;
}

.sub-menu .sub-menu-link {
   display: flex;
   margin-left: 2.5rem;
   padding: 0.55rem 0.5rem;
   font-size: 0.75rem;
   font-weight: 500;
   color: var(--color-text-secondary);
   text-decoration: none;
   border-radius: 0.3rem;
}

.sub-menu::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 0.07rem;
   margin-left: 1.4rem;
   background-color: var(--color-border);
}

.sidebar.minimize .sub-menu::before {
   width: 0;
}

.sidebar.minimize .sub-menu a {
   margin: 0 0.5rem;
}

// Footer

.footer {
   width: 100%;
   padding: 1rem 0;
   box-shadow: 0 -0.02rem 0 0 var(--color-border);
}

.user {
   display: flex;
   overflow: hidden;
   margin-top: 1rem;
}

.user-img {
   display: flex;
   margin: 0 0.7rem 0.35rem;
}

.user-img img {
   width: 2.2rem;
   height: 2.2rem;
   object-fit: cover;
   border-radius: 50%;
}

.user-data {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   white-space: nowrap;
}

.user-data .name {
   font-size: 0.8rem;
   font-weight: 600;
   color: var(--color-text-primary);
}

.user-data .email {
   font-size: 0.6rem;
   font-weight: 500;
   color: var(--color-text-secondary);
}

.user-icon {
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   color: var(--color-text-secondary);
}

//Boton resposive
.sidebar-btn {
   display: none;
}


// Main
main {
   padding: 2rem 3rem 3rem 17rem;
   transition: padding 0.5s ease;
}

.sidebar.minimize + main {
   padding-left: 7.96rem;
}

// Responsive
@media (max-height: 683px) {
   .footer {
      box-shadow: none;
   }

   .footer ul {
      display: none;
   }

   .menu-container {
      overflow-y: auto;
   }

   .search {
      box-sizing: none;
      border: 2px solid var(--color-border);
   }

   .search:hover {
      box-shadow: none;
   }

   main {
      padding: 2rem;
   }

}


// Sidebar responsive
@media (max-width: 700px),
(max-height: 683px) {

   #menu-btn {
      display: none;
   }

   .sidebar {
      transform: translateX(-100%);
      transition: transform 0.3s ease;
   }

   .sidebar-btn {
      display: flex;
      right: 1rem;
      padding: 1.2rem;
   }

   .sidebar-btn i:last-child {
      display: none;
   }

   body.sidebar-open .sidebar {
      transform: translateX(0);
   }

   body.sidebar-open .sidebar-btn i:first-child {
      display: none;
   }

   body.sidebar-open .sidebar-btn i:last-child {
      display: flex;
   }

   main {
      padding: 2rem;
   }

}
